@charset "utf-8";
/* CSS Document */
body{padding: -10px;margin: 0px}

#main1{width: 578px;height: 346px;background-color: rgba(203,203,203,0.57)}
#main2{width: 578px;height: 346px;background-color: rgba(203,203,203,0.57)}
#main3{width: 578px;height: 346px;background-color: rgba(203,203,203,0.57)}

/*test*/
#mainBottom{display: flex;flex-wrap: wrap;margin-bottom: 2%}
.classBox{width: 30.5%;height: 346px;background-color: rgba(203,203,203,0.57);margin-top:60px;margin-left:2%;}